/lab_1/.idea/
/lab_2/.idea/
/lab_3/.idea/
/lab_4/.idea/
/spline/.idea/
/numerical_integration/.idea/
/nonlinear_equations/.idea/
/system_of_nonlinear_equations/.idea/
/least_square_method/.idea/
/numerical_differentiation/.idea/
/lagrange_and_newton_interpolation_polynomials/.idea/
/.idea/
/CourseProject/CourseProject/.idea/